header{
  padding: 30px;
}
h2{
  font-size: 45px;
  text-align: center;
  background-color: khaki;
  color: gray;
  font-family: fantasy;
}
label{
  cursor: pointer;
  margin-left: 10px;
  padding: 2px;
  color: white;
}
label:hover {
  border: 2px solid gray ;
  border-radius: 10px;
}
